/* .galleryWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    max-width: 620px;
    margin: 0 auto;
}
.galleryWrap .gallery_container {
    width: 150px;
    cursor: pointer;
}
.galleryWrap .gallery_container img {
    max-width: 100%;
}
.galleryWrap .gallery_container img:hover {
    transform: scale(1.02);
} */

.galleryWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 320px 320px;
    grid-gap: 20px;
    margin: 2em 0 2em 0;    
}

.gallery_item {
    width: 100%;
    height: 100%;
    position: relative;
    
}

.gallery_item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery_item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.gallery_item:hover .image img {
    transform: scale(1.2);
}

.gallery_item .text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    pointer-events: none;
    z-index: 4;
    transition: .3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
}

.gallery_item:hover .text {
    opacity: 1;
    animation: move-down .3s linear;
    padding: 1em;
    width: 100%;
}

.image {
    border-radius: 10px;
    border: 3px solid #A8894A;
}
.product_modal_container {
    overflow: auto;
    margin: 1vw 10vw 1vw 10vw;
    padding: 1vw;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 1.5em;
    background-color: black;
}
::-webkit-scrollbar-track {
    background:  #A8894A;
    border-radius: 100vw;
    margin-block: .5em;
}
::-webkit-scrollbar-thumb {
    background:  hsl(40, 40%, 27%);
    border: .25em solid #A8894A;
    border-radius: 100vw;   
}
::-webkit-scrollbar-thumb:hover {
    background:  hsl(41, 38%, 13%);
}

@keyframes move-down {
    0% {
        top: 10%;
    }

    50% {
        top: 35%;
    }

    100% {
        top: 50%;
    }
}
/* SLIDERWRAP */
.sliderWrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}
.sliderWrap .btnClose, .sliderWrap .btnPrev, .sliderWrap .btnNext {
    position: fixed;
    cursor: pointer;
    opacity: 0.6;
    color: #fff;
    z-index: 9999;
}
.btnNext:hover, .btnClose:hover, .btnPrev:hover {
    opacity: 1;
}
.sliderWrap .btnClose {
    top: 40px;
    right: 40px;
    font-size: xx-large;
}
.sliderWrap .btnPrev {
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    font-size: xx-large;
}
.sliderWrap .btnNext {
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    font-size: xx-large;
}
.fullScreenImage {
    width: calc(100% - 40px);
    height: calc(100% -40px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.fullScreenImage img {
    max-width: 100%;
    max-height: 900px;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* .imageCounter {
    top: 50%;
    right: 30px;
} */