* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#aboutus {
   /*  height: 100%; */
    background-color: black;
    color: white;
    /* padding-top: 250px; */
}
.about_us {
    background-color: black;
}

.content {
    background-color: black;
    background-image: url("../images/macaron.png");
    max-width: 100%;
    height: 700px;
    margin: 0 0 0 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    
}
.aboutus_text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
    display: inline-block;
    margin: 3rem 55rem 0 0;
    max-width: 230px;

}
.line_decoration {
    position: absolute;
    margin-top: 80px;
    left: 50%;
    height: 410px;
    width: 2px;
    background-image: linear-gradient(to bottom, #FFFF 50%, #A8894A 40%);
}