* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    /* background-image: url("../images/blue_marble_background.jpg");
    max-width: 100%;
    background-size: cover;
    text-align: center; */
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contact_boxes {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    background-color: black;
}

.contact_box_left,
.contact_box_right {
    border: 3px solid #A8894A;
    width: 30em;
    height: 45em;
    margin: 0 5% 0 5%;
    border-radius: 20px;
    text-align: center;
    color: #A8894A;


}

.contact_box_left {
    padding: 2%;
}

/* CONTACT FORM */

.contact_box_left>h3 {
    margin: 10% 0 5% 0;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

}
.contact_form > label {
    margin: 0.8vw 0 0 0;
}

.contact_form input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    transition: all 0.2s linear;
    box-shadow: 0 0 3px 3px #A8894A !important;
}

.contact_form>input,
textarea {
    width: 100%;
    height: auto;
    border: 2px solid #A8894A;
    transition: all 0.2s linear;
}

.contact_form>textarea {
    height: 12em;
}

.contact_form_submitbutton {
    margin-top: 1em;
    background-color: #836A39;
    color: #FFFF;
    border: 2px solid #2e2513;
    border-radius: 5px;
    transition: all 0.2s linear;

}

.contact_form_submitbutton:hover {
    box-shadow: 0 0 5px 5px #A8894A !important;
    transition: all 0.2s linear;
}

/* //////////////////////////// */
.contact_box_right {
    overflow: hidden;
}

.edesm-logo {
    height: auto;
    width: 50%;
}

.footer_line {
    background-color: #A8894A;
    width: 65em;
    height: 3px;

}

.footer_line_box {
    display: flex;
    justify-content: center;
    margin-top: 2%;

}

.footer_box {
    margin-top: auto;
    background-color: black;

}

.footer_links {
    display: flex;
    justify-content: center;
    margin: 2%;
    margin-right: 5vw;
}

.footer_faq_link,
.footer_howto_link {
    background-color: #836A39;
    border: 3px solid #2e2513;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFFF;
    font-size: 130%;
    text-decoration: none;
    cursor: pointer;
    padding: 0.2% 0.5% 0.2% 0.5%;
    transition: all 0.2s linear;
}


.footer_faq_link:hover,
.footer_howto_link:hover {
    border: 3px solid #FFFF;
    box-shadow: 0 0 5px 5px #A8894A !important;
    transition: all 0.2s linear;
}

.footer_howto_link {
    margin-right: auto;
}

.footer_faq_link {
    margin-left: auto;
}

.tothetopbutton {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 200%;
    color: #836A39;
    cursor: pointer;
    margin: 0 1vw 0 1vw;
    transition: all 0.2s linear;

}

.tothetopbutton:hover {
    color: #FFFF;
    box-shadow: 0 0 5px 5px #A8894A !important;
    border-radius: 100%;
    transition: all 0.2s linear;

}

#gmap_canvas {
    height: 45em;
    width: 100%;
}