* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contact {
    background-image: url("../images/dark-bronze-stone-background.jpg");
    max-width: 100%;
    background-size: cover;
    text-align: center;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contact_boxes {
    display: flex;
    justify-content: center;
    margin-top: 10%;

}

.linear_gradient {
    height: 70px;
    width: 100%;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.01),
            rgba(0, 0, 0, 0) 140%);
}

.contact_box_left,
.contact_box_right {
    border: 3px solid #A8894A;
    width: 30%;
    margin: 0 5% 0 5%;
    border-radius: 20px;
    text-align: center;
    color: #A8894A;
    background-image: url("../images/paper_background.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 1px 18px 5px #000000;
    overflow: hidden;



}

.contact_box_left {
    padding: 2%;

}

#gmap_canvas {
    border-radius: 15px;
    height: 100%;
    width: 100%;



}

/* CONTACT FORM */

.contact_box_left>h3 {
    margin: 10% 0 5% 0;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

}

.contact_form>label {
    margin: 0.8vw 0 0 0;
}

.contact_form input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    transition: all 0.2s linear;
    box-shadow: 0 0 3px 3px #A8894A !important;
}

.contact_form>input,
textarea {
    width: 100%;
    height: auto;
    border: 2px solid #A8894A;
    transition: all 0.2s linear;
}

.contact_form>textarea {
    height: 150px;
}

.contact_form_submitbutton {
    margin-top: 1em;
    background-color: #836A39;
    color: #FFFF;
    border: 2px solid #2e2513;
    border-radius: 5px;
    transition: all 0.2s linear;

}

.contact_form_submitbutton:hover {
    box-shadow: 0 0 5px 5px #A8894A !important;
    transition: all 0.2s linear;
}

/* //////////////////////////// */


.edesm-logo {
    height: auto;
    width: 50%;
}

.footer_line {
    background-color: #A8894A;
    width: 80%;
    height: 3px;
    box-shadow: 0px 1px 18px 2px #000000;
    border: 1px solid #524221;

}

.footer_line_box {
    display: flex;
    justify-content: center;
    margin-top: 2%;

}

.footer_box {
    margin-top: auto;
    /* background-color: black; */

}

.footer_links {
    display: flex;
    justify-content: center;
    margin: 2%;
    margin-right: 5vw;
}

.footer_faq_link,
.footer_howto_link {
    background-color: #836A39;
    border: 1px solid #524221;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFFF;
    font-size: 130%;
    text-decoration: none;
    cursor: pointer;
    padding: 0.2% 0.5% 0.2% 0.5%;
    transition: all 0.2s linear;
    box-shadow: 0px 1px 18px 2px #000000;
}


.footer_faq_link:hover,
.footer_howto_link:hover {
    border: 1px solid #FFFF;
    box-shadow: 0 0 5px 5px #A8894A !important;
    transition: all 0.2s linear;
}

.footer_howto_link {
    margin-right: auto;
}

.footer_faq_link {
    margin-left: auto;
}

.tothetopbutton {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 200%;
    color: #836A39;
    cursor: pointer;
    margin: 0 1vw 0 1vw;
    transition: all 0.2s linear;
    background: radial-gradient(circle, rgba(255,255,255,1) 51%, #836A39 53%);
    border-radius: 50%;
    box-shadow: 0px 1px 18px 2px #000000;
}


.tothetopbutton:hover {
    color: #FFFF;
    box-shadow: 0 0 5px 5px #A8894A !important;
    border-radius: 100%;
    transition: all 0.2s linear;
    background-color: #524221;
    border-radius: 25px;
    overflow: hidden;

}



@media screen and (max-width: 768px) {
    .contact_boxes {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }


    .contact_box_left {
        width: 80%;
        height: 550px;

    }

    .contact_box_right {
        width: 80%;
        height: 50%;
    }

    .contact_form>textarea {
        height: 40px;
    }

    .footer_faq_link,
    .footer_howto_link {
        font-size: 13px;
        padding: 2px;
        align-self: center;
    }

    .aos-animate {

        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;

        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;

        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}