* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    /* background-image: url("../images/blue_marble_background.jpg");
    max-width: 100%;
    background-size: cover;
    text-align: center; */
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contact_boxes {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    background-color: black;
}

.contact_box_left,
.contact_box_right {
    border: 3px solid #A8894A;
    width: 30vw;
    height: 45em;
    margin: 0 5% 0 5%;
    border-radius: 20px;
    text-align: center;
    color: #A8894A;


}

.contact_box_left {
    padding-top: 5%;
}

.contact_box_right {
    overflow: hidden;
}

.edesm-logo {
    width: 40vh;
}

.footer_line {
    background-color: #A8894A;
    width: 100vh;
    height: 3px;

}

.footer_line_box {
    display: flex;
    justify-content: center;
    margin-top: 2%;

}

.footer_box {
    margin-top: auto;
    background-color: black;

}

.footer_links {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.footer_faq_link,
.footer_howto_link {
    border: 1px solid #A8894A;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffff;
    font-size: 130%;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5%;
}


.footer_faq_link:hover,
.footer_howto_link:hover {
    color: #A8894A;
}
.footer_howto_link {
    margin-left: 5%;
}
.tothetopbutton {
    text-align: center;
    font-size: xxx-large;
    color: #A8894A;
    cursor: pointer;
}
.tothetopbutton:hover {
    color: rgb(168, 168, 168);
}