* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.faq {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../images/cupcake.jpg");
    background-size: 100%;
    background-position: center;
}