* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.how-to {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("../images/howto_background.jpg");
    background-size: 100%;
    background-position: center;
}