* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.products {
    width: 1200px;
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    align-items: center;
    margin: 50px;
    
}
.productcard {
    width: 400px;
    height: 150px;
    color: white;
    border: 3px solid #A8894A;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.productcard:hover{
    color:#A8894A;
}
.product_category_images {
    width: 600px;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
    
}
.products_container {
    background-color: black;
    color: white;
    height: 100vh;
    
    
}
.product_categry_container {
    display: flex;
    justify-content: center;
}
.between_main_and_products_container {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    gap: 5%;
}