* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar, .extra-navbar {
    display: flex;
    list-style: none;
    justify-content: center;
    color: #FFFF;
    position: fixed;
    width: 100%;
    font-size: 130%;
    z-index: 1;
    transition: all .3s linear;
}
.navbar-items {
    margin: 40px 10px 0 ;
    cursor: pointer;
}
.navbar-items .active {
    color:#A8894A;
    
}
.navbar-items a:hover {
    color:#A8894A;
    border: 1px solid #A8894A;
    padding: 15px;
    margin: -10px;
    transition: all .3s linear;
    border-radius: 55%;
}
.navbar-items a {
    transition: all .3s linear;
}
.extra-navbar a:visited, .extra-navbar a:link {
    color: white;
    list-style: none;
    text-decoration: none;
}
.extra-navbar-items a:hover {
    color:#A8894A;
}

.extra-navbar-items {
    margin: 40px 10px 0 ;
    cursor: pointer;
}
#edesm_logo{
    width: 220px;
    cursor: pointer;
    transition: all .3s linear;
}
.nav_scrolled {
    display: flex;
    list-style: none;
    justify-content: center;
    color: #FFFF;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 135%;
    z-index: 1;
    background-image : linear-gradient(to bottom, 
                    rgba(0,0,0, 1), 
                    rgba(0,0,0, 0) 90%);
    transition: all .3s linear;
}
#edesm_logo_scrolled {
    width: 240px;
    cursor: pointer;
    transition: all .3s linear;
}
#edesm_logo:hover {
    width: 240px;
}
