* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E2429;
  /* REMOVE!!! */
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.testBox {
  margin-top: 100px;
  width: 500px;
  height: 100px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.testBox:before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background:
    /* linear-gradient(to right, #BF953F, #B38728, #FBF5B7, #AA771C); */
    radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  left: 100%;
  transform: translateX(-50%);
  border-radius: 40%;
  animation: fill 7s ease-in-out forwards;



}

@keyframes fill {
  from {
    right: 250px;
    transform: translate(-50%) rotate(0deg);
  }

  to {
    left: 50px;
    transform: translate(-50%) rotate(360deg);
  }
}

.sample-image {
  margin: -40px;
  margin-left: -10px;
  width: 20%;
  position: absolute;
  z-index: 3;
  
}

.logo-placeholder {
  margin-top: 50px;
  font-family: 'Parisienne';
}
.main {
  height: 100vh
}
.products {
  height: 100vh
}
.about-us {
  height: 100vh;
}
.contact {
  height: 100vh;
}